@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 1000;
}

.error-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
    padding: 20px;
}

.imagen-error{
    width: 50%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-error{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 10px;
}

.text-error h1{
    font-size: 80px;
    margin: 0;
}

.text-error p{
    font-weight: 600;
    margin-bottom: 50px;
}

#button-home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 30%;
    height: 6%;
    text-decoration: none;
}