<!-- templates/error.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="../static/css/style_error.css">
</head>
<body>
    <div class="error-container">
        <div class='imagen-error'>
            <img src="../static/img/errorpicture.png">
        </div>    
        <div class="text-error">
            <h1>Oops!</h1>
            <p>Algo ha salido de la manera no esperada. Por favor, vuelve a intentarlo de nuevo.</p>
            <!-- Botón para volver a la página principal -->
            <a id="button-home" href="/" class="btn-primary"> <i class="ti ti-arrow-left" style="margin-right:10px"></i>Volver al inicio</a>
        </div>
    </div>
</body>
</html>
